{% extends 'core/base.html' %}
{% load static %}

{% block header %}
    MIMUCCE - Carrito de Compras
{% endblock header %}

{% block main %}
    <h1 class="my-4">Tu Carrito</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-start">Producto</th>
                <th class="text-center">Cantidad</th>
                <th class="text-end">Precio</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td class="text-start">{{ order.product.name }}</td>
                    <td class="text-center">{{ order.quantity }}</td>
                    <td class="text-end">{{ order.product.price }}</td>
                    <td class="text-end">{{ order.total_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="text-end"><strong>Total: </strong>{{ total }}</p>
    <a href="{% url 'pedidos:checkout_page' %}" class="btn btn-primary">Proceder al pago</a>
{% endblock main %}
