{% extends 'core/componentes/navbar.html' %}
{% load static %}

{% block content %}
    <h2>Iniciar sesión</h2>

    {% if user.is_authenticated %}
        <!-- Si el usuario está autenticado, mostramos su nombre -->
        <p>Hola {{ user.username }}</p>
        <a href="{% url 'core:logout' %}">Cerrar sesión</a>
    {% else %}
        <!-- Si no está autenticado, mostramos el formulario de login -->
        <form action="{% url 'core:login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Usuario</label>
            <input type="text" name="username" id="id_username" required>
        </div>
        <div>
            <label for="id_password">Contraseña</label>
            <input type="password" name="password" id="id_password" required>
        </div>
        <button type="submit">Iniciar sesión</button>
        </form>

        {% if form.errors %}
        <p style="color: red;">Hubo un error en el inicio de sesión.</p>
        {% endif %}
    {% endif %}
{% endblock %}