/**primero siempre las utilites*/

/*segundo las bases**/
@import "./base/resets";
@import "./base/fonts";

/* los layouts**/

@import "./layout/header";
@import "./layout/footer";
@import "./layout/main-index";

/**componentes**/

@import "./components/card";

/* mediaquery**/

@media(max-width:1800px){
    header{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2,1fr);
    
        h1{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .dropdown{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .navbar{
            grid-column: 5/6;
            grid-row: 2/3;
        }
    }
    main{
        
    }
}